@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h3>Who is Levi9?</h3>
    <p>
        <strong> We are the new generation IT service company which is extremely committed and accountable to its customers and its people.</strong>
    </p>

    <p>
        We firmly believe in being transparant, pro-active and result driven.
    </p>

    <p>
        With headquarters in Amsterdam, The Netherlands and three development centers in Serbia, 
        Romania and Ukraine, Levi9 provides technical capabilities, industry knowledge and nearshore cost advantages to deliver advanced technology solutions on time and on budget. 
        Levi9 has over 450 IT professionals on its own payroll.
    </p>

    <p><img src="../Images/levi9.png" /></p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@